@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');



body{
    background: rgb(107, 165, 236);
    font: normal 15pt Arial;
}

h1{
    font-family: 'pacifico',cursive;font-weight: normal;

}

input{
    width: 110px;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

div{
    text-align: center;
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
